/* From: https://www.browserstack.com/guide/create-browser-specific-css */
/* Safari 11+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
selector { 
property:value; 
}
}}
/* Test website on real Safari 11+ */

input { display: none; }                /* hide radio buttons */
input + label { display: inline-block } /* show labels in line */
input ~ .tab { display: none }          /* hide contents *//* show contents only for selected tab */
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5 { display: block; font-size:  max(10px, min(3vw, 20px));}
input + label {             /* box with rounded corner */
  border: 1px solid #999;
  background: #EEE;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
}
input:checked + label {     /* white background for selected tab */
  background: #FFF;
  border-bottom: 1px solid transparent;
  font-size: max(8px, min(5vw, 25px));
}
input ~ .tab {          /* grey line between tab and contents */
  border-top: 1px solid #999;
  padding: 12px;
  font-size: max(6px, min(5vw, 10px));
}


/* https://stackoverflow.com/questions/23984629/how-to-set-min-font-size-in-css*/
.myImage {
    width: max(200px, min(30vw, 500px));
}
.tabImage {
    width: max(200px, min(30vw, 250px));
}



/* class for triggering sorting of table when clicking on header */
.th_sortable {
    cursor: url(click-to-sort_thumbnail.png), nw-resize;
}

.center {
text-align: center;
}




