<h2>Overall race programme for race series <em>{{ race_series }}</em></h2>
Race programme compiled: {{ now().strftime('%Y-%m-%d %H:%M:%S') }} UTC

{% for race in races %}
    {% include 'race_block.jinja' %}
    {% if race.processed %}
        <div style="font-size:small;"><a class="select_league_table_buttons"
                                         href="rvy_racing.php?races#race{{ race.number }}">Race
            results</a>
        </div>
    {% else %}
        Race not raced/processed yet!<br><br>
        <div style="font-size:small;">
            <a class="select_league_table_buttons"
               href="../../html/input_user_contributed_race_form.php">
                Add your own?</a>
            {# make an ajax JS call #}
            <a class="select_league_table_buttons"
               href="refresh.php?race_date=2024-07-07">
                Refresh registration count</a>
        </div>
    {% endif %}
{% endfor %}
